.App {
  text-align: center;
  background: #171721;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 2rem;
  width: 100%;
  background: #222233;
}

.body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
}

.editor {
  flex-grow: 1;
  height: calc(100vh - 2rem);
  width: 50vw;
  background: #000001;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: monospace;
  outline: none;
  overflow-y: scroll;

  & .margin {
    min-height: 100%;
    background: #111111;
    color: #777;

    & .line {
      padding: 0 1rem;
      height: 1.3rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      &.active {
        color: white;
      }

      &.pcPosition {
        color: black;
        background-color: #ddff00;
      }
    }
  }

  & .content {
    flex-grow: 1;
    height: 100%;

    & .line {
      height: 1.3rem;
      padding-left: 1rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      color: #ddd;

      &.active {
        background: #0a0a0a;
      }
    }

    & .mnemonic {
      margin-left: 2rem;
      color: #666;
    }
  }
}

.rightPanel {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
  height: calc(100vh - 2rem);
}

.display {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  & canvas {
    width: 640px;
    background: black;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
}

.debugger {
  background: #0f0f15;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  max-height: 50vh;

  & h1 {
    text-align: left;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0;
    color: #bbb;
  }

  & .tabs {
    height: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    color: #bbb;
    background: #2f2f2f;

    & .tab {
      padding: 0.5rem 1rem;

      &.active {
        background: #0f0f15;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  & .monitor {
    padding: 1rem;
  }
}

.clickable:hover {
  cursor: pointer;
}

.ram {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 1rem;

  & .ramListing {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: monospace;
    color: #ddd;
    flex-grow: 1;
    height: calc(50vh - 2rem);
    overflow-y: scroll;

    & .address {
      padding: 0.2rem 0.5rem;

      &.pcPointer {
        background-color: #ddff00;
        color: black;
      }

      &.irPointer {
        background-color: #ff66dd;
        color: black;
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0.2rem;
  grid-row-gap: 0.2rem;
  font-family: monospace;
  color: #ddd;

  & .cell {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #333;

    & dt,
    & dd {
      margin: 0;
      padding: 0.2rem 0.5rem;
    }

    & dt {
      background-color: #222;
      width: 1.2rem;
    }

    & dd {
      flex-grow: 1;
    }
  }
}

.emptyStack {
  font-family: sans;
  font-size: 0.8rem;
  text-align: left;
  font-style: italic;
}

.button {
  padding: 0.2rem 0.8rem 0.2rem 0.7rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: white;

  &.active {
    background-color: #660022;

    &:hover {
      background-color: #880033;
    }

    &:active {
      background-color: #990044;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: #333355;
  }

  &:active {
    background-color: #444466;
  }

  & img {
    margin-right: 0.5rem;
  }
}

.fileInput {
  & input[type="file"] {
    display: none;
  }
}
